.main-wrapper {
    width: 100%;
    height: 65rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text h1 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
}

.main-text h2 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.main-images {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 19.25rem;
    height: 19.25rem;
    border: 6px var(--primary-300) solid;
    border-radius: 20px;
}

.main-img {
    width: 14.173rem;
    height: 13.032rem;
}

.main-img img {
    width: 100%;
}

.main-name {
    font-weight: 700;
    font-size: 17.2954px;
    line-height: 150%;
}

.main-title {
    font-weight: 400;
    font-size: 17.2954px;
    line-height: 150%;
}

@media screen and (max-width: 1300px) {
    .main-container {
        width: 15.25rem;
        height: 15.25rem;
    }

    .main-img {
        width: 11.173rem;
        height: 10.032rem;
    }

    .main-wrapper {
        height: 50rem;
    }
}

@media screen and (max-width: 1050px) {
    .main-container {
        width: 12.25rem;
        height: 12.25rem;
    }

    .main-img {
        width: 9.173rem;
        height: 8.032rem;
    }

    .main-name {
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }
    
    .main-title {
        font-size: 0.7rem;
    }

    .main-wrapper {
        height: 40rem;
    }
}

@media screen and (max-width: 850px) {
    .main-container {
        width: 9.25rem;
        height: 10.25rem;
    }

    .main-img {
        width: 7.173rem;
        height: 6.032rem;
    }

    .main-name {
        margin-top: 0.5rem;
        font-size: 0.6rem;
    }
    
    .main-title {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 670px) {
    .main-container {
        width: 6.25rem;
        height: 7.25rem;
        border: 3px var(--primary-300) solid;
    }

    .main-img {
        width: 5.173rem;
        height: 4.032rem;
    }

    .main-name {
        margin-top: 1rem;
        font-size: 0.4rem;
    }

    .main-title {
        font-size: 0.4rem;
    }

    .main-wrapper {
        height: 75vh;
        background-color: var(--primary-200);
    }

    .main-text h1 {
        font-size: 40px;
    }

    .main-text h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 470px) {
    .main-container {
        width: 5.25rem;
        height: 7.25rem;
        border: 3px var(--primary-300) solid;
    }

    .main-img {
        width: 4.173rem;
        height: 4.032rem;
    }

    .main-name {
        margin-top: 0.5rem;
        font-size: 0.4rem;
        text-align: center;
    }

    .main-title {
        font-size: 0.4rem;
        text-align: center;
    }

    .main-wrapper {
        height: 60vh;
        background-color: var(--primary-200);
    }

    .main-text h1 {
        font-size: 40px;
    }

    .main-text h2 {
        font-size: 15px;
    }
}