@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-100: #FFFAF5;
  --primary-200: #ffffff;
  --primary-300: #131626;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: var(--primary-100);
  color: var(--primary-300);
  transition: all .5s;
}

a {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

h1,h2, h3, h4, h5, h6 {
  font-family: 'Outfit', sans-serif;
}

p, span, li {
  font-family: 'Outfit', sans-serif;
}

ul li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
}